<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Result</title>
    </head>
    <body>
        <h1>Result</h1>
        <h3>{{result}}</h3>

        <a href="/">Back</a>
    </body>
</html>
